body {
  font-family: sans-serif;
}

input {
  padding: 10px;
}
button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  background: rgb(37, 33, 33);
  color: white;
  font-weight: bold;
  margin: 8px 5px 25px 5px;
}
select {
  padding: 10px;
}

.card {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.activado {
  background: red;
  color: white;
}
